@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$primary: #faf0dc;
$secondary: #0B4141;

.app{
    display: flex;
    justify-content: center;
    .link{
        text-decoration: none;
        color: inherit;
    }

    .container{
        width: 1024px;
        .auth{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $primary;
            flex-direction: column;

            h1{
                font-size: 20px;
                color: $secondary;
                margin-bottom: 20px;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 50%;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button{
                    padding: 10px;
                    border: none;
                    background-color: $secondary;
                    color: white;
                    cursor: pointer;
                }

                p{
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }
                span{
                    text-align: center;
                    font-size: 12px;
                }
            }
        }

        .navbar{
            .container{
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    img{
                        width: 120px;
                    }
                }
                .links{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    .user-nav{
                      margin-left: 20px;
                      display: flex;
                      align-items: center;
                      gap: 10px;
                    }

                    h6{
                        font-size: 16px;
                        font-weight: 800;
                    }

                    span{
                        cursor: pointer;
                    }

                    .write{
                        background-color: $primary;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;
                        &:hover{
                            color: $secondary;
                            background-color: white;
                            border: 1px solid $primary
                        }
                    }
                }
            }
        }

        .footer{
            margin-top: 100px;
            padding: 20px;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img{
                height: 50px;
            };
        }

        .home{
            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;
                .post{
                    display: flex;
                    gap: 100px;
                    &:nth-child(2n + 1){
                        flex-direction: row-reverse;
                    }
                    .img{
                        flex: 1;
                        position: relative;
                        &:after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $primary;
                            position: absolute;
                            top: 20px;
                            left: -20px;
                            z-index: -1;
                        }
                        img{
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }
                    .content{
                        flex: 2;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h1{
                            font-size: 48px;
                        }
                        .meta{
                          font-size: 12px;
                   
                       
                        }
                        p{
                            font-size: 18px;
                        }
                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid $primary;
                            color: $secondary;
                            &:hover{
                                border: 1px solid white;
                                background-color: $primary;
                                color:black;
                            }
                        }
                    }
                }
            }
        }

        .single {
            display: flex;
            gap: 50px;
      
            .content {
              flex: 5;
              display: flex;
              flex-direction: column;
              gap: 30px;
      
              img {
                width: 100%;
                height: 300px;
                object-fit: cover;
              }
      
              .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;
                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  object-fit: cover;
                }
      
                span {
                  font-weight: bold;
                }
              }
      
              .edit {
                display: flex;
                gap: 5px;
      
                img {
                  width: 20px;
                  height: 20px;
                  cursor: pointer;
                }
              }
      
              h1 {
                font-size: 42px;
                color: #333;
              }
      
              p {
                text-align: justify;
                line-height: 30px;
              }
            }
            .menu {
              flex: 2;
              display: flex;
              flex-direction: column;
              gap: 25px;
      
              h1 {
                font-size: 20px;
                color: #555;
              }
      
              .post {
                display: flex;
                flex-direction: column;
                gap: 10px;
      
                img {
                  width: 100%;
                  height: 200px;
                  object-fit: cover;
                }
      
                h2 {
                  color: #555;
                }
      
                button {
                  width: max-content;
                  padding: 7.5px 15px;
                  border: none;
                  cursor: pointer;
                  color: $secondary;
                  background-color: white;
                  border: 1px solid $secondary;
      
                  &:hover {
                    border: 1px solid white;
                    background-color: $primary;
                    color: black;
                  }
                }
              }
            }
          }

          .add {
            margin-top: 20px;
            display: flex;
            gap: 20px;
 
            .content {
              flex: 5;
              display: flex;
              flex-direction: column;
              gap: 20px;
              width: 700px;
            
              input {
                padding: 10px;
                border: 1px solid lightgray;
              }
      
              .editorContainer {
                height: 300px;
                .editor {
                  height: 100%;
                  width: 100%;
                  border: none
                  
                }
              }
            }
      
            .menu {
              flex: 2;
              display: flex;
              flex-direction: column;
              gap: 20px;
      
              .item {
                border: 1px solid lightgray;
                padding: 10px;
                flex:1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 12px;
                color: #555;
      
                h1{
                  font-size: 20px;
                }
      
                .file{
                  text-decoration: underline;
                  cursor: pointer;
                }
      
                .buttons{
                  display: flex;
                  justify-content: space-between;
      
                  :first-child{
                    cursor: pointer;
                    color: $secondary;
                    background-color: white;
                    border: 1px solid $secondary;
                    padding: 3px 5px;
                  }
                  :last-child{
                    cursor: pointer;
                    color: white;
                    background-color: $secondary;
                    border: 1px solid $secondary;
                    padding: 3px 5px;
                  }
                }
      
                .cat{
                  display: flex;
                  align-items: center;
                  gap: 2px;
                  color: $secondary;
                  
                }
              }
            }
          }
    }
}



